
@{
    ViewBag.Title = "Add_Tenant";
    Layout = "~/Views/Shared/_ManagingLayout.cshtml";
}

<html>
<head>
    <title></title>
    <style type="text/css">
        .form-style-9 {
            max-width: 100%;
            max-height: 946px;
            background: #FAFAFA;
            padding: 4px;
            margin: -10px auto;
            box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
            border-radius: 10px;
            border: 6px solid #376195;
        }

            .form-style-9 ul {
                padding: 0;
                margin: 0;
                list-style: none;
            }

                .form-style-9 ul li {
                    display: block;
                    margin-bottom: 29px;
                    min-height: 35px;
                    margin-left: 23px;
                }

                    .form-style-9 ul li .field-style {
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        padding: 8px;
                        outline: none;
                        border: 1px solid #B0CFE0;
                        -webkit-transition: all 0.30s ease-in-out;
                        -moz-transition: all 0.30s ease-in-out;
                        -ms-transition: all 0.30s ease-in-out;
                        -o-transition: all 0.30s ease-in-out;
                    }

                        .form-style-9 ul li .field-style:focus {
                            box-shadow: 0 0 5px #B0CFE0;
                            border: 1px solid #B0CFE0;
                        }

                    .form-style-9 ul li .field-split {
                        width: 49%;
                    }

                    .form-style-9 ul li .field-full {
                        width: 100%;
                    }

                    .form-style-9 ul li input.align-left {
                        float: left;
                    }

                    .form-style-9 ul li input.align-right {
                        margin-left: 20px;
                    }

                    .form-style-9 ul li textarea {
                        width: 100%;
                        height: 100px;
                    }

        .pd {
        }

        .gd {
        }

        .cd {
        }

        .pd1 {
            margin-top: 48px;
        }

        .gd1 {
            margin-top: 48px;
        }

        .cd1 {
            margin-top: 48px;
        }

        .text {
            color: #305A72;
        }

        .form-style-9 ul li input[type="button"],
        .form-style-9 ul li input[type="submit"] {
            -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
            -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
            box-shadow: inset 0px 1px 0px 0px #3985B1;
            background-color: #216288;
            border: 1px solid #17445E;
            display: inline-block;
            cursor: pointer;
            color: #FFFFFF;
            padding: 8px 80px;
            text-decoration: none;
            font: 12px Arial, Helvetica, sans-serif;
            margin-left: 375px;
            margin-top: 10px;
        }

            .form-style-9 ul li input[type="button"]:hover,
            .form-style-9 ul li input[type="submit"]:hover {
                background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
                background-color: #28739E;
            }

        .span1 {
        }

        label {
            color: #305A72;
        }
        .b1 {
            color: #305A72;
        }
    </style>


</head>
<body>

    @*<form class="form-style-9">*@
    @using (Html.BeginForm("Addagent", "SuperAdmin", FormMethod.Get, new { @class = "form-style-9" }))
    {
        <span style=" font-family:Arial">
            <h3 class="text">ADD AGENT</h3>
        </span>
        <div style="border:1px solid #305A72; border-radius:10px; margin-top:10px;padding-left: 10px;
    padding-right: 10px;">
            <span class="span1">
                <b class="b1">
                    DETAILS</b>
                        <span>
                            <div class="pd1">

                                <ul class="pd">
                                    <li>
                                        <label> Name</label>
                                       <input type="email" name="field2" class="field-style field-split align-right" placeholder="Last Name" style="margin-left: 117px;" />

                                    </li>
                                    <li>
                                        <label>Email  Address</label>
                                      <input type="email" name="field4" class="field-style field-split align-right" placeholder="Enter Email" style="margin-left: 70px;" />
                                    </li>
                                    <li>
                                        <label>Phone Number</label>
                                     <input type="email" name="field2" class="field-style field-split align-right" placeholder="Phone Number" style="margin-left: 63px;" />

                                    </li>
                                    <li>
                                        <label>Unit Number</label>
                                    <input type="text" name="field4" class="field-style field-split align-right" placeholder="Enter Password" style="margin-left: 77px;" />
                                    </li>
                                    <li>
                                        <label>Company Name</label>
                                <input type="text" name="field4" class="field-style field-split align-right" placeholder="Enter Contact Name" style="margin-left: 58px;" />
                                    </li>
                                    <li>
                                        <label>Property</label>
                                        @Html.DropDownList("Please Select", new List<SelectListItem>
                                                      {
                                                        new SelectListItem{ Text="User", Value = "User" },
                                                        new SelectListItem{ Text="Admin", Value = "Admin" },
                                                      }, new { @class = "field-style field-split align-left", style = "margin-left: 104px" })
                                        
                                    </li>
                                    <li>
                                        <label>MCST Number</label>
                                <input type="text" name="field4" class="field-style field-split align-right" placeholder="Enter Contact Name" style="margin-left: 67px;" />
                                    </li>
                                    <li>
                                        <label>MCST council member</label>
                                        <input type="text" name="field4" class="field-style field-split align-right" placeholder="Enter Contact Name" />
                                    </li>
                                </ul>
                            </div>
        </div>

        <ul>
            <li>
                <input type="submit" value="Add" />
            </li>
        </ul>
    }
    @*</form>*@

</body>
</html>



